<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAw4m-AYqkImPYMJDs3v6_0n2n4CtnqK6U</string>
	<key>GCM_SENDER_ID</key>
	<string>983757209492</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mioqaw.mortgage.calc</string>
	<key>PROJECT_ID</key>
	<string>the-mortgage-calculator</string>
	<key>STORAGE_BUCKET</key>
	<string>the-mortgage-calculator.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:983757209492:ios:b28e74f17e95b576461981</string>
</dict>
</plist>